# Joe Nyhan, 24 January 2022
# gitignore for latex repos using Latex workshop vscode extension (lots of aux files)

# pycache files
*.pyc 

# latex auxillary files
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz

# latex beamer aux files
*.nav
*.snm
*.toc